In [17]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import silhouette_score

df = pd.read_csv('data\\cluster_test.csv', skipinitialspace=True)
num_df = df.drop('endYear', axis=1)
num_df['awardWins'].fillna(0, inplace=True)
num_df = num_df.select_dtypes(include=['number'])
num_df.info()

# Normalize numeric dataframe.
scaler = MinMaxScaler()
num_df = scaler.fit_transform(num_df)

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16431 entries, 0 to 16430
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   rating                       16431 non-null  int64
 1   startYear                    16431 non-null  int64
 2   runtimeMinutes               16431 non-null  int64
 3   awardWins                    16431 non-null  float64
 4   totalImages                  16431 non-null  int64
 5   totalVideos                  16431 non-null  int64
 6   totalCredits                 16431 non-null  int64
 7   criticReviewsTotal           16431 non-null  int64
 8   awardNominationsExcludeWins  16431 non-null  int64
 9   numRegions                   16431 non-null  int64
 10  userReviewsTotal             16431 non-null  int64
 11  totVotes                     16431 non-null  int64
 12  titleTypeNumeric             16431 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 1.6 MB

C:\Users\mura9\AppData\Local\Temp\ipykernel_14568\1064556257.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  num_df['awardWins'].fillna(0, inplace=True)

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,totalImages,totalVideos,totalCredits,criticReviewsTotal,...,isRatable,isAdult,numRegions,userReviewsTotal,countryOfOrigin,genre1,genre2,genre3,totVotes,titleTypeNumeric
0,Neogenic Nightmare Chapter 3: Hydro-Man,8,1995,NaN,40,0.0,1,0,21,1,...,True,False,1,0,['US'],Action,Adventure,Animation,780,2
1,Looping,6,1982,NaN,28,0.0,1,0,1,0,...,True,False,1,0,['XWG'],Action,NaN,NaN,11,9
2,Idealnaya para,6,1992,NaN,92,0.0,1,0,24,0,...,True,False,1,1,['RU'],Comedy,NaN,NaN,38,0
3,MasterChef Celebrity México,6,2021,NaN,53,0.0,22,0,56,0,...,True,False,1,0,['MX'],Reality-Tv,NaN,NaN,15,5
4,Seutateueob,8,2020,2020.0,80,1.0,347,2,47,4,...,True,False,32,452,['KR'],Comedy,Drama,Romance,15732,5